
  <p id="notice alert alert-success"><%= notice %></p>


<div class="show_container">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag(@contact.picture) %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= "#{@contact.first_name}#{@contact.last_name}" %><span class="glyphicon glyphicon-option-vertica"></span></span>
      <p><a href="#"><%= @contact.state %></a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= @contact.first_name %><i class="material-icons right">close</i></span>
      <p class="description-text"><%= @contact.description %></p>
    </div>
  </div>

</div>
